

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: antiquewhite;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a:link
{
color:pink;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    padding: 5px;
}

.skritt-h1 {
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
    -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5,
    0px -2px 0 #4074b5, 3px 5px 3px #08E2FF;
    color: #F26BAB;
    font-size: 50px;
    margin-top: -80px;
}


.enyo-h2 {
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
    -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5,
    0px -2px 0 #4074b5, 3px 5px 3px #08E2FF;
    color: #F26BAB;
    font-size: 15px;
}

h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container,
.slideshow-container2 {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border: 3px solid rgba(243, 66, 234, 0.753);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators 
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}*/

/* Fading animation 
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}*/

/*Video Container for Responsiveness*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }
    
    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

p {
    margin: 0;
    padding: 1em 0;
}

.btn {
    display: inline-block;
    background: #333;
    color: antiquewhite;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #667;
    margin: .5em 0;
}

.btn:hover {
    background: #eaeaea;
    color: rgb(88, 85, 85);
}

#showcase {
    min-height: 450px;
    color: whitesmoke;
    text-align: center;
    background-image: linear-gradient(to right bottom, #d16ba580, #d15ca87c, #cf4cb07a, #cb3ab87a, #c427c179,
     #a251df7c, #746bf479, #1f80ff7a, #00a6ff7a, #00c8ff81, #00e1ff80, #5ffbf185);;
}

#showcase .bg-image {
    position: fixed;
    background: #333 url("../images/skrittoon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 680px;
    z-index: -1;
    opacity: 0.4;
}

#showcase h1 {
    text-align: left;
    padding-bottom: 0;
}

#showcase h2 {
    text-align: right;
}

#showcase .content-wrap,
#section-a .content-wrap,
.content-wrap2 {
    padding: 1.5em;
}

#section-a {
    background: #39e8ffad;
    color: #333;
    padding-bottom: 2em;
}

#section-b {
    padding: 2em 1em 1em;
}

#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

.card-content {
    padding: 1.5em;
}

#section-c {
    background: rgba(255, 255, 255, 0.63);
    color: #333;
    padding: 2em;
}

#section-d .box {
    padding: 2em;
    color: #fff;
    background-image: linear-gradient(to right bottom, #d16ba580, #d15ca87c, #cf4cb07a, #cb3ab87a, #c427c179,
     #a251df7c, #746bf479, #1f80ff7a, #00a6ff7a, #00c8ff81, #00e1ff80, #5ffbf185);;
}

#section-d .box:first-child {
    background-image: linear-gradient(to right bottom, #d16ba557, #d15ca856, #cf4cb059, #cb3ab856, #c427c157,
     #a251df57, #746bf454, #1f80ff59, #00a6ff57, #00c8ff60, #00e1ff59, #5ffbf163);;

}

/* Style the form element with a border around it */
form {
    border: 4px solid rgba(43, 207, 248, 0.822);
  }
  
  /* Add some padding and a baby blue background color to containers */
  .container {
    padding: 20px;
    background-color:rgba(43, 207, 248, 0.822);
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(43, 207, 248, 0.822);
    box-sizing: border-box;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: rgba(243, 66, 234, 0.753);
    color: rgba(255, 255, 255, 0.815);
    border: none;
  }
  
  label {
    color: rgba(221, 25, 221, 0.918);
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

  .content-title {
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
    -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5,
    0px -2px 0 #4074b5, 3px 5px 3px #08E2FF;
    color: #F26BAB;
  }

  iframe {
    border: 2px solid #F26BAB;
    box-shadow: rgba(43, 207, 248, 0.822);
  }

#main-footer {
    padding: 2em;
    background: black;
    color: #fff;
    text-align: center;
}

#main-footer a {
    color: rgb(115, 115, 253);
    text-decoration: none;
}

/*Media Queries*/

@media(min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2,minmax(auto, 25em))
         1fr;
    }

    #section-a .content-text {
        columns: 1;
        column-gap: 2em;
    }

    #section-a .content-text p {
        padding-top: 0;
    }
    .skritt-h1 {
        font-family: 'Rock Salt', cursive;
        text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
        -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5,
        0px -2px 0 #4074b5, 3px 5px 3px #08E2FF;
        color: #F26BAB;
        font-size: 100px;
        margin-top: -100px;
    }
    
    
    .enyo-h2 {
        font-family: 'Rock Salt', cursive;
        text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
        -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5,
        0px -2px 0 #4074b5, 3px 5px 3px #08E2FF;
        color: #F26BAB;
        font-size: 25px;
    }

    .content-wrap,
    .content-wrap2,
    #section-b ul {
        grid-column: 2/4;
    }

    .box, #main-footer div {
        grid-column: span 2;
    }

    #section-b ul {
        display: flex;
        justify-content: space-around;
    }

    #section-b li {
        width: 31%;
    }

    #showcase .bg-image {
        position: fixed;
        background: #333 url("../images/skrittoon.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 850px;
        z-index: -1;
        opacity: 0.4;
        
    }

}

